
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #ccc;
    color: rgb(4, 4, 43);
}

.input-field:focus {
    border-color: #f69904 !important;
}